fastapi==0.79.0
uvicorn==0.17.6
SQLAlchemy==1.4.40
psycopg2==2.9.3
python-multipart==0.0.5

pandas==1.4.3
shapely==1.8.2
gdal==3.4.3
fiona==1.8.21
geopandas==0.11.0
ogr2osm==1.1.2
rtree==1.0.0

Pillow==9.2.0

networkx==2.8.4

